<.simple_form :let={f} for={@changeset} action={@action} multipart>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:file]} type="file" label="File" />
  <.error :for={msg <- f[:file].errors}><%= inspect(msg) %></.error>
  <:actions>
    <.button>Import Payout</.button>
  </:actions>
</.simple_form>
