<.header>
  New Stock file
  <:subtitle>Use this form to manage stock_file records in your database.</:subtitle>
</.header>

<.stock_file_form changeset={@changeset} action={~p"/stock_files"} />

<.back navigate={~p"/stock_files"}>Back to stock_files</.back>
