<.header>
  Edit Order file <%= @order_file.id %>
  <:subtitle>Use this form to manage order_file records in your database.</:subtitle>
</.header>

<.order_file_form changeset={@changeset} action={~p"/order_files/#{@order_file}"} />

<.back navigate={~p"/order_files"}>Back to order_files</.back>
