<.header>
  New Payout
  <:subtitle>Use this form to manage payout records in your database.</:subtitle>
</.header>

<.import_payout_form changeset={@changeset} action={~p"/import_payouts"} />

<.back navigate={~p"/payouts"}>Back to payouts</.back>
