<.header>
  Organization <%= @organization.name %>
</.header>

<.list>
  <:item title="Name"><%= @organization.name %></:item>
  <:item title="Created At"><%= @organization.inserted_at %></:item>
</.list>
