<.header>
  New Organization
  <:subtitle>Use this form to manage organization records in your database.</:subtitle>
</.header>

<.organization_form changeset={@changeset} action={~p"/organizations"} />

<.back navigate={~p"/organizations"}>Back to organizations</.back>
