<.header>
  New Order Record
  <:subtitle>Use this form to manage record records in your database.</:subtitle>
</.header>

<.record_form changeset={@changeset} action={~p"/records"} />

<.back navigate={~p"/records"}>Back to records</.back>
