<.header>
  New Record
  <:subtitle>Use this form to manage order records in your database.</:subtitle>
</.header>

<.import_upload_file_form changeset={@changeset} action={~p"/import_order_records"} />

<.back navigate={~p"/records"}>Back to records</.back>
