<.header>
  New Stock
  <:subtitle>Use this form to manage new stocks in your database.</:subtitle>
</.header>

<.import_stock_file_form changeset={@changeset} action={~p"/import_stock_items"} />

<.back navigate={~p"/records"}>Back to stocks</.back>
