<.header>
  Edit Payout <%= @payout.id %>
  <:subtitle>Use this form to manage payout records in your database.</:subtitle>
</.header>

<.payout_form changeset={@changeset} action={~p"/payouts/#{@payout}"} />

<.back navigate={~p"/payouts"}>Back to payouts</.back>
