<.header>
  Edit <%= @user.first_name <> " " <> @user.last_name %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/users/#{@user}"} roles={@roles} />

<.back navigate={~p"/users"}>Back to users</.back>
